name: Update Blog Posts

on:
  schedule:
    # Runs every day at midnight
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Pull in dev.to posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://dev.to/feed/faizan1421,https://medium.com/feed/@faizan1421"
          max_post_count: 5
          template: "- $title"
          commit_message: "Updated with latest blog posts"
          committer_username: "blog-post-bot"
